body {
	font-family: "Do Hyeon";
    background-color: #eee;
}

/*your code here*/

table {
	margin: 0 auto;
	border-collapse: collapse;
	width: 100%;
	max-width: 1000px;
    font-size: 20pt;
}

#jobTable {
    text-align: center;
}

th {
	font-weight: bold;
	border-bottom: 2px solid black;
	padding: 5px;
}

td {
	border-bottom: 1px solid grey;
	padding: 5px;
}

#main {
    margin-top: 70px;
    margin-left: 185px;
    margin-right: auto;

    padding: 16px;
}


/* Table based timetable */
/*!*#timeTable td {*!*/
    /*!*width: 50px;*!*/
/*!*}*!*/

/*.chart-container {*/
    /*!*position: relative;*!*/
    /*!*margin: auto;*!*/
    /*!*height: 8vh;*!*/
    /*!*widows: 8vw;*!*/
    /*max-width: 200px;*/
    /*max-height: 100px;*/
    /*overflow: hidden;*/
    /*!*align-content: center;*!*/
    /*margin-left: -50px;*/
/*}*/

/*.chart-container-container {*/
    /*max-width: 100px;*/
    /*max-height: 100px;*/
    /*overflow: hidden;*/
    /*margin: 0px;*/
/*}*/


/* Grid based timetable*/
#timetableContainer {
    display: grid;
    grid-template-columns: 100px auto auto auto auto auto;
    max-width: 1200px;
}

#timetableContainer > div {
    /*margin-left: -50px;*/
    /*margin-right: -50px;*/
    text-align: center;
    font-size: 30pt;
}

.timetableHeader {
    /*grid-column: span 2;*/
}

#workertableContainer {
    display: grid;
    grid-template-columns: 200px auto;
}

/* Record Tab */
textarea {
	font-size: 12pt;
    width: 100%;
    height: 100%;
    padding: 6px 6px;
    box-sizing: border-box;
    background-color: #eee;
    resize: none;
    text-align: left;
}

textarea:focus {
    background-color: white;
}


/* Spinner ----------- */
.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid darkgray;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* ------------ Spinner */